<div class="row">
  <div class="col-md-6" style="overflow: scroll; height: 600px;">
    {{#each blogPosts as |blogPost| }}
    <div class="row mb-4">
      <div class="col-md-10">
        <h2>{{blogPost.post_text}}</h2>
        <p>Posted by {{blogPost.user}} on {{format_date blogPost.date_created}}</p>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="col-md-6">
    {{#if logged_in}}
    <h1>Submit a New Post</h1>
    <form class="form newPost">
      <div class="form-group">
        <input class="form-input" type="blogPost" style="height: 250px;" id="blogPost" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
    {{else}}
    <h2>Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
    {{/if}}
  </div>
</div>