<!-- Loop over each object in the projects array -->
{{#each blogPosts as |blogPost| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>{{blogPost.post_text}}</h2>
    <p>Posted by {{blogPost.user}} on {{format_date blogPost.date_created}}</p>
  </div>
</div>
{{/each}}
