<div class="row">
  <div class="col-md-6">
    <h1>My Dashboard</h1>
    <form class="form newPost">
        <div class="form-group">
          <input class="form-input" id="blogPostTitle" placeholder="Post Title"/>
        <input class="form-input" id="blogPostText" placeholder="Post Text"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Post</button>
        </div>
    </form>
  </div>
  <div class="col-md-6 blogPostSection">
    {{#each allMyPosts as |myPost|}}
    {{!-- <a> --}}
      <div class="row mb-4 dashBlogPost" id={{myPost.id}}>
        <div class="col-md-10">
          <h1>{{myPost.post_title}}</h1>
          <h5>{{myPost.post_text}}</h5>
          <p>Posted on {{format_date myPost.date_created}}</p>
        </div>
      </div>
    {{!-- </a> --}}
    {{/each}}
  </div>
</div>
