<div>
  {{#each allMyPosts as |myPost|}}
  <div class="row mb-4 project" id={{myPost.id}}>
    <div class="col-md-5">
      <h2>{{myPost.post_text}}</h2>
      <p>Posted on {{format_date myPost.date_created}}</p>
    </div>
  </div>
  {{/each}}
</div>
