.blogPostSection{
    overflow: scroll; 
    height: 600px;
}

.mainBlogPost:hover,
.dashBlogPost:hover {
    cursor: pointer;
}

.mainBlogPost{
    border: 1px dashed cyan;
    width: 600px;
}

.dashBlogPost{
    border: 1px dashed red;
    width: 600px;
}

.comment{
    border: 1px dashed green;
    width: 600px;
}

#blogPostTitle{
    height: 50px
}

#blogPostText{
    height: 200px
}

#singlePostSection{
    text-align: center;
    padding-top: 15%;
}

#comment-input{
    width: 600px;
}