.blogPostSection{
    overflow: scroll; 
    height: 600px;
}

.mainBlogPost:hover,
.dashBlogPost:hover {
    cursor: pointer;
}

.mainBlogPost{
    border: 1px dashed cyan;
    width: 600px;
}

.dashBlogPost{
    border: 1px dashed red;
    width: 600px;
}

#blogPostTitle{
    height: 50px
}

#blogPostText{
    height: 200px
}